<%- include("partials/header"); -%>

<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <h3>Title</h3>
    <input type="text" name="title" placeholder="enter title" class="form-control" >
    <h3>Post</h3>
    <textarea name="post" rows="7" cols="60" class="form-control" placeholder="enter content"></textarea>


  </div>

  <button type="submit" name="button" class="btn btn-primary">publish</button>



</form>

<%- include("partials/footer"); -%>
